<h2>Categories</h2>
<table class="table">

	   <thead>
        
          <th>Category</th>
          <th>Quantity Sold</th>
          
      
      </thead>
      <tbody>
      	     {{#each categories}}
			<tr>
			    <td>{{category}}</td>
			    <td>{{quantity}}</td>
			</tr>
		    {{/each}}
      </tbody>

</table>