<h2>Products</h2>


<table class="table">
	   <thead>
        
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Category Id</th>
          
      
      </thead>
      <tbody>
      	     {{#each products}}
			<tr>
			    <td>{{product_id}}</td>
			    <td>{{product_name}}</td>
			    <td>{{category_id}}</td>
			</tr>
		    {{/each}}
      </tbody>

</table>

			<!-- end: Content -->
				
