{{!-- 
						
			<!-- start: Content -->
			
				
				<div class="span3 smallstat box mobileHalf" ontablet="span6" ondesktop="span3">
					<i class="icon-star grey"></i>
					<span class="title"><em>Most Profitable Product</em></span>
					<span class="title">Product Name</span>
					<span class="value">R589</span>
				</div>
				
				<div class="span3 smallstat box mobileHalf" ontablet="span6" ondesktop="span3">
					<i class="icon-star-empty grey"></i>	
					<span class="title"><em>Least Profitable Product</em></span>
					<span class="title">Product Name</span>
					<span class="value">R89</span>
				</div>
				
				<div class="span3 smallstat box mobileHalf noMargin" ontablet="span6" ondesktop="span3">
					<i class="icon-star grey"></i>
					<span class="title"><em>Most Profitable Category</em></span>
					<span class="title">Category Name</span>
					<span class="value">R199,99</span>
				</div>
				
				<div class="span3 smallstat mobileHalf box" ontablet="span6" ondesktop="span3">
					<i class="icon-star-empty grey"></i>
					<span class="title"><em>Least Profitable Category</em></span>
					<span class="title">Category Name</span>
					<span class="value">R19,99</span>
				</div>
			
			</div>	 --}}





			<div>
				<h1 class="nelisa">Nelisa's Spaza</h1>
				<h2 class="nelisaSub">Administration Panel</h2>
			</div>

			