<h2>Total Sales</h2>


<table class="table">
	   <thead>
        
          <th>Product</th>
          <th>Quantity Sold</th>
          
      
      </thead>
      <tbody>
      	     {{#each totalSales}}
			<tr>
			    <td>{{product}}</td>
			    <td>{{soldNum}}</td>
			</tr>
		    {{/each}}
      </tbody>

</table>

	
