<h2>Least Sold</h2>
<table class="table">
	   <thead>
          <th>Product Name</th>
          <th>Total Sold</th>
        
        </thead>
		      <tbody>
		      	     {{#each leastSold }}
					<tr>
					    <td>{{stock_item}}</td>
					    <td>{{sold_total}}</td>
					  
					</tr>
				    {{/each}}
		      </tbody>
		</table>