
<h2>Graphs</h2>
	<script>
	    d3.json("../fsProductsTable.json", function (data) { 

	     	var svg = dimple.newSvg("#content", 800, 500);
	     	var chart = new dimple.chart(svg, data);
		    chart.addCategoryAxis("x", "stock_item");
		    chart.addMeasureAxis("y", "sold_total");
		    chart.addSeries(null, dimple.plot.bar);
		    chart.draw();
	 });
	
	</script>

    	

   