<h2>Regular Sales</h2>
<table class="table">

	   <thead>
        
          <th>Product</th>
          <th>Days Sold</th>
          
      
      </thead>
      <tbody>
      	     {{#each regularSales}}
			<tr>
			    <td>{{name}}</td>
			    <td>{{days}}</td>
			</tr>
		    {{/each}}
      </tbody>

</table>