div.navbar-inner{
	background-color: #1D9156;
}
.container-fluid{
	background-color: #1D9156;
}
.btn-navbar{
	background-color: #1D9156;
}

a.brand ,.noBg {
	background-color: #1D9156;
	color: #1D9156;
	 border-bottom: #1D9156;
}
#sidebar-left ,#main-menu-toggle{
	background:#1d9156;
}
footer{
	background-color: #1D9156;
}
